.heart-rate-container {
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
  }
  
  .heart-rate-container h2 {
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 15px;
    color: #333;
  }
  
  .heart-rate-graph {
    display: flex;
    align-items: center;
    justify-content: center;
  }