.weather-card {
  background-color: #E0F0FF;
  border-radius: 35px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-items: center; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
  padding: 1rem;
}

.city-name h2 {
  margin: 0;
}

.WeatherC-2, .WeatherC-1{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-temp {
  display: flex;
  align-items: center;
}

.icon-temp img {
  margin-right: 10px;
}

.deg {
  font-size: 1.5em;
}

.date {
  grid-column: span 2;
}

.des-wind {
  grid-column: span 2;
}

.error-message {
  color: red;
  font-size: 1.2em;
}